<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Type</th>
            <th>Banks</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < payment.length; i++) { %>
            <tr>
                <td>
                    <%= i + 1 %>
                </td>
                <td>
                    <%= payment[i].type%>
                </td>
                <td>
                    <% payment[i].banks.forEach(bank=> { %>
                        <span class="badge badge-warning">
                            <%= bank.name %> |
                                <%= bank.bankName %> |
                                    <%= bank.accountNumber %>
                        </span>
                        <% }) %>
                </td>
                <td>
                    <% if (payment[i].status==='Y' ) { %>
                        <span class="badge badge-success">
                            Active
                        </span>
                        <% } else { %>
                            <span class="badge badge-warning">
                                Nonactive
                            </span>
                            <% } %>
                </td>
                <td>
                    <form action="/payment/status/<%= payment[i]._id %>?_method=PUT" method="POST"
                        style="display: inline-block;">
                        <button class="btn btn-primary btn-sm">
                            <i class="fas fa-folder"></i>
                            <% if(payment[i].status==='Y' ) { %>
                                Matikan
                                <% } else { %>
                                    Hidupkan
                                    <% } %>
                        </button>
                    </form>
                    <form action="/payment/delete/<%= payment[i]._id %>?_method=DELETE" method="POST"
                        style="display: inline-block;">
                        <a class=" btn btn-info btn-sm" href="/payment/edit/<%= payment[i]._id %>">
                            <i class="fas fa-pencil-alt"></i>
                            Update</a>
                        <button class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                            Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>